
.wizard-step {
    float:right;
}

.rw-selectize-create-item {
    padding: 0.5em 1em;
}
.rw-selectize-item {
    padding: 0.5em 1em;

}
.rw-selectize-item .glyphicon {
    padding-right:1em;
}

/* 
 * address search
 */
 
 #wiz-address-search #address-search-result-list {
    /*padding : 1em;*/
    margin-bottom:1em;
    height: calc(100vh - 390px);
    /*background-color: #eee;*/
    overflow:auto;
    /*border:1px solid #eee;*/
}

#wiz-address-search .result-address-item {
    width:100%;
    margin-bottom:1em;
    cursor:pointer;
    padding:1em;
    border-left: 1px solid white;
}
#wiz-address-search .result-address-item.is-selected {
    background-color:#eee;
}
#wiz-address-search .result-address-item:hover {
    background-color:#eee;
    border-left: 1px solid blue;
}
#wiz-address-search .address-name {
    display:block;
    font-size:1.3em;
}
#wiz-address-search .is-selected .selected-address {
    display:block;
}
#wiz-address-search .selected-address {
    float:right;
    color:green;
    font-size:2em;
    display:none;
}
#wiz-address-search .address-zip,
#wiz-address-search .address-city,
#wiz-address-search .address-country {
    font-size:1.3em;
}
#wiz-address-search .extra-info-line {
    display:block;
    font-size:0.8em;
    color:grey;
    /*border-top: 1px solid #80808040;    */
}
/* / address search */


/* 
 * Wizard Summary Col
 */
 #wiz-summary {
     border-left: 1px dotted grey;
     height: calc(100vh - 200px);
 }
 #wiz-summary h4 {
    background-color: #d9edf7;
    padding: 0.3em;
    padding-left: 0.3em;
}
 #wiz-summary .contact > span {
     display: block;
 }
 #wiz-summary .contact .fullname {
     font-weight: bold;
 }

 #wiz-summary .product-line {
    border-bottom: 1px dotted #c3c3c3;
    height: 1em;
    float: left;
    margin-bottom: 0.3em;
    width: 100%;     
    font-size: 0.8em;
}

#wiz-summary .product-name {
    float:left;
    padding-right:0.5em
}

#wiz-summary .order-value {
    float:right;
    padding-left:0.5em
}
#wiz-summary div.product-line span {
    background:white;
    position:relative;
    top:0.2em;
    height:1em
}
#wiz-summary .total-order-value {
    border-top: 1px solid grey;
    margin-top: 1em;    
}
/* / Wizard Summary Col */


/* 
 * Orders 
 */
 
#wiz-order .bottom-row {
    background-color: #f8f7f7;
}
#wiz-order .bottom-row .text-total {
    font-size: 1.3em;
    text-align: right;
}

#wiz-order #orders tbody div.form-group {
    margin-bottom: 0px;
}

#wiz-order .bottom-row .valueSum {
    text-align: right;
}
#wiz-order .bottom-row .value-total {
    font-size: 1.3em;
    text-align: right;
    font-weight: bold;
}
/* / Orders  */

/*
 * transaction */

 .remove-transaction-line {
     border-color:white;
     color:red;
 }
 #wiz-transaction td.total-label {
     font-size:1.3em;
     text-align: right;
 }
 #wiz-transaction td.total-value {
    font-size:1.3em;
    text-align: right;
 }
 
 #wiz-transaction .expected-total {
     color:gray;
     font-size:0.8em;
     margin-left:1em;
 }

#wiz-transaction #diff-marker {
     float: left;
 }
 
#wiz-transaction #diff-marker.no-match  span.glyphicon-ok,
#wiz-transaction #diff-marker .glyphicon-remove {
     display:none;
 }
 
#wiz-transaction #diff-marker.no-match .glyphicon-remove {
    display:block;
}

#wiz-transaction #diff-marker .glyphicon-ok {
     color:green;
}

#wiz-transaction #diff-marker .glyphicon-remove {
    color:red;
}
 /* /transaction */


 /**
  * Products */
  #productselectionform-product_ids label {
    display:block;
}

.product-result {
    margin:4px;
}

.product-result .product-name, 
.product-result .product-short-description {
    display:block;
}
.product-result .product-short-description {
    padding-left:1.7em;
    font-size:80%;
    line-height: 120%;
    color:grey;
}


.selected-product-item {
    float:left;
    width: 100%;
    padding:0.5em;
}
.selected-product-item:hover {
    background-color : #eee;
}
.selected-product-item .product-remove{
    float:right;
    color: red;
    cursor:pointer;
}

.selected-product-item .product-name, 
.selected-product-item .product-short-description {
    display:block;
}
.selected-product-item .product-short-description {
    padding-left:1.7em;
    font-size:80%;
    line-height: 120%;
    color:grey;
}

#wiz-product-select .radio label {
    display: block;
}
#wiz-product-select .radio {
    display: block;
    margin-left: 3em;
}
/* /products */  